*,
*::before,
*::after{
box-sizing: border-box;
padding: 0;
margin: 0;
}

header{
    display: flex;
    justify-content: end;
    margin-right: 4rem;
    margin-top: 2rem;
    font-family: "Inter", sans-serif;
}

#ul-header>*{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(1px 1px 10px rgb(221, 221, 221));
}
#ul-header>*:hover{
    transform: scale(1.3);
}

#github-logo{
    width: 35px;
}

ul{
    display: flex;
    gap: 5rem;
    align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black
}

.card-container-me{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 5rem;
    margin: 5rem 10rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#toggleContainer.tech-stack-grid-container{
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    margin: 5rem 10rem;
}

.tech-stack-container{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#tech-stack-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3rem;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#tech-stack-img-container:hover{
    transform: scale(1.3);
}

.h1-aside-container{
    font-size: 80px;
    margin-top: 23px;
    padding-bottom: 3rem;
}

#img-of-me{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#img-of-me > img{
    border-radius: 100px;
    width: 300px;
    filter: drop-shadow(2px 2px 5px grey);
    animation: float 4s ease-in-out infinite;
    transition: filter 0.3s ease-in-out;
}

#img-of-me > img:hover{
    filter: drop-shadow(4px 4px 10px grey);
}

@keyframes float {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}

#toggleContainer{
    display: none;
}